
/*
  changes heading font colour to brown & font to Georgia
*/

h1, h2 {
    color: #3F250B;
    font-family: Georgia, serif;
    }


/*
  changes background to cream colour
*/

body {
    background: #FFE4B5
}


/*
  changes link colour to the same brown as the headings
*/

a {
  color: #3F250B;
}


/*
  changes visited link colour to pink
*/

a:visited {
  color: pink;
}

