
/*
  changes heading font colour to brown & font to Georgia
*/

h1, h2 {
    color: #3F250B;
    font-family: Georgia, serif;
    }


/*
  changes background to cream colour
*/

body {
    background: #FFE4B5
}


/*
  puts border around images
*/

img {border: 5px solid #3F250B}

/*
  changes body text colour to the same brown as the headings
*/

p {
  color: #3F250B;
}


/*
  changes link colour to the same brown as the headings
*/

a {
  color: #3F250B;
}


/*
  changes visited link colour to pink
*/

a:visited {
  color: hotpink;
}

ul { list-style: none; } /* Remove default bullets */

li::before {
    content: "\25B7"; /* bullet symbol to triangle*/
    color: #3F250B;  /* bullet color to the brown */
    font-size: 15px
}


